*
!.gitignore
!composer.json
!LICENSE
!Plugin.php
!Plugin.yaml
!phpunit.xml
!README.md
!classes
!classes/**/*
!components
!components/**/*
!controllers
!controllers/**/*
!eventhandlers
!eventhandlers/**/*
!lang
!lang/**/*
!models
!models/**/*
!tests
!tests/**/*
!traits
!traits/**/*
!updates
!updates/**/*